/* 用于公共CSS */
.view{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contentBox{
    flex: 1;
    overflow: auto;
}

input {
    background: transparent !important;
}